In [2]:
import sys
sys.path.append("..")
import requests as r
import json
import pandas as pd
import px_reader
import urllib3
import certifi

In [3]:
ele = urllib3.connection_from_url('https://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/EPF425624?date=20060101:20191012')

Id	314
Cod_IOE	"30458"
Nombre	"Encuesta de Presupuestos Familiares (EPF)"
Codigo	"EPF"

In [4]:
url = 'http://servicios.ine.es/wstempus/js/ES/DATOS_SERIE/EPF314?date=20060101:20191012'
ide = '30458'
# Todo el por culo que te da el SSL es porque has usado un protocolo HTTPS y no un HTTP
url_2 = 'http://servicios.ine.es/wstempus/js/ES/DATOS_TABLA/10699?date=20060101:20151231'
res = r.get(url).json()

In [5]:
data = pd.DataFrame(res)
from pandas.io.json import json_normalize
df = json_normalize(res)

In [6]:
df_agua = df[df['Nombre'].str.contains("agua")]

In [7]:
df_agua

Empty DataFrame
Columns: [COD, Data, FK_Escala, FK_Unidad, Nombre]
Index: []

In [ ]:
from flatten_json import flatten

In [28]:
df = df.join(json_normalize(df["e"].tolist()).add_prefix("e.")).drop(["e"], axis=1)

In [52]:
data = df_agua['Data']
dict_flattened = (flatten(e, '.') for record in data for e in record)
df = pd.DataFrame(dict_flattened)
df

    Anyo  FK_Periodo  FK_TipoDato          Fecha  Secreto       Valor
0   2015          28            1  1420066800000    False  3426876.94
1   2014          28            1  1388530800000    False  3467927.60
2   2013          28            1  1356994800000    False  3269384.98
3   2012          28            1  1325372400000    False  3073066.95
4   2011          28            1  1293836400000    False  2840360.19
5   2010          28            1  1262300400000    False  2648698.96
6   2009          28            1  1230764400000    False  2628735.69
7   2008          28            1  1199142000000    False  2507177.74
8   2007          28            1  1167606000000    False  2440934.39
9   2006          28            1  1136070000000    False  2364101.94
10  2015          28            1  1420066800000    False        1.44
11  2014          28            1  1388530800000    False        1.30
12  2013          28            1  1356994800000    False        1.33
13  2012          28            1  1325372400000    False        1.24
14  2011          28            1  1293836400000    False        1.16
15  2010          28            1  1262300400000    False        1.23
16  2009          28            1  1230764400000    False        1.31
17  2008          28            1  1199142000000    False        1.24
18  2007          28            1  1167606000000    False        1.16
19  2006          28            1  1136070000000    False        1.15
20  2015          28            1  1420066800000    False   335982.24
21  2014          28            1  1388530800000    False   321602.75
22  2013          28            1  1356994800000    False   318347.22
23  2012          28            1  1325372400000    False   290701.67
24  2011          28            1  1293836400000    False   260858.24
25  2010          28            1  1262300400000    False   232051.75
26  2009          28            1  1230764400000    False   243689.17
27  2008          28            1  1199142000000    False   237614.72
28  2007          28            1  1167606000000    False   209731.71
29  2006          28            1  1136070000000    False   180797.25
30  2015          28            1  1420066800000    False        0.89
31  2014          28            1  1388530800000    False        1.13
32  2013          28            1  1356994800000    False        1.05
33  2012          28            1  1325372400000    False        1.06
34  2011          28            1  1293836400000    False        0.95
35  2010          28            1  1262300400000    False        0.92
36  2009          28            1  1230764400000    False        1.14
37  2008          28            1  1199142000000    False        1.30
38  2007          28            1  1167606000000    False        1.24
39  2006          28            1  1136070000000    False        1.08